

<br/>
<div class="center hero-unit">
  <h1>Welcome! </h1>

  <br/>

  <% if current_user %>

  <% else %>
      <%= form_tag("/auth/twitter") do %>
      <%= button_tag "Sign in with Twitter", :class => "btn btn-primary" %>
      <% end %>
  <% end %>


</div>