/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 *= require bootstrap
 */

table.user-scores {
    width: 80%;
}

table.user-scores th {
    background-color: #000000;
    color: #ffffff;
}

table.user-scores td {
    height: 20px;
    margin: 10px;
}

table.user-scores td.correct {
    background-color: #96ed7a;
    width: 80px;
    text-align: center;
}

table.user-scores td.wrong {
    background-color: #c43c35;
    width: 80px;
    text-align: center;
}
